<%-include('./partials/head') %> <%-include('./partials/header')%>
<div
class="cent"
  style="display: flex; flex-direction: column; align-items: center"
>

<div
  class="atras"
  style="
    width: 28rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  "
>
  <a href="/" style="margin-bottom: 20px">
    <i class="fas fa-arrow-alt-circle-left" style="font-size: 28px"></i>
  </a>
</div>
<center>
  <form
    action="/create"
    method="POST"
    class="needs-validation"
    novalidatem
    enctype="multipart/form-data"
  >
    <div style="margin-top: 10px">
      <label for="nombre">
        <input
          style="
            width: 45vw;
            height: 48px;
            background-color: #f7f7f9;
            border: 0 solid #ced4da;
            margin-bottom: 10px;
          "
          type="text"
          name="firstname"
          id="nombre"
          placeholder="Nombre"
        />
      </label>
      <% if(locals.errors && errors.firstname) { %>
      <div>
        <p style="color: brown"><%=errors.firstname.msg%></p>
      </div>
      <% } %>
    </div>

    <div>
      <label for="Apellido">
        <input
          style="
            width: 45vw;
            height: 48px;
            background-color: #f7f7f9;
            border: 0 solid #ced4da;
            margin-bottom: 10px;
          "
          type="text"
          name="lastname"
          id="apellido"
          placeholder="Apellido"
        />
      </label>
      <% if(locals.errors && errors.lastname) { %>
      <div>
        <p style="color: brown"><%=errors.lastname.msg%></p>
      </div>
      <% } %>
    </div>

    <div>
      <label for="ocupacion">
        <input
          style="
            width: 45vw;
            height: 48px;
            background-color: #f7f7f9;
            border: 0 solid #ced4da;
            margin-bottom: 10px;
          "
          type="text"
          name="ocupacion"
          id="ocupacion"
          placeholder="Ocupación"
        />
      </label>
      <% if(locals.errors && errors.ocupacion) { %>
      <div>
        <p style="color: brown"><%=errors.ocupacion.msg%></p>
      </div>
      <% } %>
    </div>

    <div>
      <label for="direccion">
        <input
          style="
            width: 45vw;
            height: 48px;
            background-color: #f7f7f9;
            border: 0 solid #ced4da;
            margin-bottom: 10px;
          "
          type="text"
          name="address"
          id="direccion"
          placeholder="Dirección"
        />
      </label>
      <% if(locals.errors && errors.address) { %>
      <div>
        <p style="color: brown"><%=errors.address.msg%></p>
      </div>
      <% } %>
    </div>

    <div>
      <label for="telefono">
        <input
          style="
            width: 45vw;
            height: 48px;
            background-color: #f7f7f9;
            border: 0 solid #ced4da;
            margin-bottom: 10px;
          "
          type="number"
          name="phone"
          id="telefono"
          placeholder="Teléfono "
          maxlength="10"
        />
      </label>
      <% if(locals.errors && errors.phone) { %>
      <div>
        <p style="color: brown"><%=errors.phone.msg%></p>
      </div>
      <% } %>
    </div>

    <div>
      <label for="descripcion">
        <textarea
          style="
            width: 45vw;
            background-color: #f7f7f9;
            border: 0 solid #ced4da;
          "
          name="descripcion"
          id="descripcion"
          placeholder="Escribe reseña para el cliente"
          cols="30"
          rows="10"
          maxlength="94"
          minlength="94"
        ></textarea>
      </label>
      <% if(locals.errors && errors.descripcion) { %>
      <div>
        <p style="color: brown"><%=errors.descripcion.msg%></p>
      </div>
      <% } %>
    </div>

    <div style="margin-bottom: 10px">
      <label for="foto">
        <input type="file" name="avatar" id="foto" />
      </label>
      <% if(locals.errors && errors.avatar) { %>
      <div>
        <p style="color: brown"><%=errors.avatar.msg%></p>
      </div>
      <% } %>
    </div>

    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
</center>


</div>



</div>







<%-include('./partials/footer') %>
